@mixin img-full-center {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
}

@mixin img-fit-center {
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;

}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin pure-img {
	img{
	    max-width: 100%;
	    height: auto;
	    display: block;
	}
}

@mixin list-no-style{
	ul {
		text-decoration: none;
		list-style: none;
	}
}

@mixin white-a-links {
	a {
		display: inline-block;
		text-decoration: none;
		color: white;
	}
	a:hover {
		border-bottom: 1px solid $brand-primary-action;
	}
}