@mixin img-full-center {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
    z-index: -1;
}

@mixin img-fit-center {
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;

}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin pure-img {
	img{
	    max-width: 100%;
	    height: auto;
	    display: block;
	}
}

@mixin list-no-style{
	ul {
		text-decoration: none;
		list-style: none;
	}
}

@mixin white-a-links {
	a {
		display: inline-block;
		text-decoration: none;
		color: white;
		font-family: $brand-base-font-family;
	}
	a:hover {
		border-bottom: 1px solid $brand-primary-action;
	}
}


// ------------------------- BREAKPOINTS --------------------------- //


@mixin breakpoint($point) {
   @if $point == desktop {
   	// 1024 px - 1199 px
     @media screen and (min-width: 64rem) and (max-width: 74.9375rem) { @content ; }
  }
   @else if $point == laptop {
   	// 1024 px
     @media screen and (min-width: 64rem) { @content ; }
  }
    @else if $point == large-tablet {
    // 768 px - 1023 px wide
     @media screen and (min-width: 48rem) and (max-width: 63.9375rem) { @content ; }
  }
   @else if $point == phablet {
   	// 568 px to 767 px
     @media screen and (min-width: 35.5rem) and (max-width: 47.9375rem) { @content ; }
  }
  @else if $point == mobile-only {
  	// under 567 px
     @media screen and (max-width: 35.4375rem)  { @content ; }

  }
}




