// Import vars
@import "_variables.scss";
@import "_mixins.scss";

* {
	border: 1px dotted $brand-primary-action;
}

body, p {
	font-family: $brand-base-font-family;
	font-size: $brand-base-font-size;
	color: $brand-primary-dark;
}

//------------------------- HEADINGS --------------------- //
h1, h2, h3, h4, h5 {
	font-family: $brand-base-font-family;
	font-weight: $heading-weight;
}
h1 {
	text-transform: uppercase;
	font-weight: 400;
}

h2 {
	font-size: 1.625rem;
}

h3 {
	font-size: 1.5rem;
}


#logo { 
	float: left;
	margin: 4px 6px;
	@include clearfix;
	img {
		width: 200px;
		height: auto;
	}
}
nav {
	display: block;
	float:right;
	margin: 4px 6px 0 0;
	padding: 4px 12px;
	@include clearfix;
	ul {
		text-decoration: none;
		list-style: none;
	}
	li, li a {
		margin: 0 auto;
		padding: 0 12px 2px 5px;
		display: inline-block;
		text-align: center;
	}
	a, a:visited {
		text-transform: uppercase;
		text-decoration: none;
		color: $brand-primary-dark;
	}
	.active {
		color: $brand-primary-action;
		border-bottom: 4px solid $brand-primary-action; 
	}
}
.hero-banner {
	float: right;
	width: 100vw;
	height: 80vh;
	background: url("../images/woman-drilling.jpg") no-repeat center center fixed;
	@include img-full-center;
	@include clearfix 

}

.hero-info {
	position: absolute;
	top: 25%;
	right: 6%;
	@include clearfix;
}

.hero-heading {
	font-family: $brand-base-font-family;
	font-size: $hero-size;
	font-weight: 400;
	//color: white;
}

.static-phone {
	position: fixed;
	left: 10%;
	top: 18%;
	img {
    	//transform: translateX(50%);
		height: 65vh;
		margin-left: 20%;
	}	
}

.container {
	margin: 0 auto;
	max-width: 75em;
}
.section-title {
	text-align: center;
}
.content-info {
	float: right;
	padding: 24px;
}
.sketch {
	position: absolute;
	margin-top: -6em;
	right: 10%;
	width: 300px;
	height: 400px;
	@include pure-img;
	z-index: -1;
	//@include clearfix;
}

.g-screen {
	margin: 0 auto;
	@include pure-img;
}

// IMPORTS //
//Pure Grid - see documentation here: https://purecss.io/grids/
@import "_grids-core-min.scss";
@import "_grids-responsive-min.scss";